body{
    height: 100vh;
    margin: 0;
    background-color:gray;
    display: flex;
    align-items: center;
    justify-content: center;
    }

h1{
    text-align: center;
}

#end{
    text-align: center;
}
.Signupbtnbox{
    text-align: center;
}
